In [1]:
import pandas as pd

In [2]:
import requests

this url and headers code was directly available on tmdb api

In [3]:
url = "https://api.themoviedb.org/3/movie/top_rated?language=en-US&page=1"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4NTZhN2JiNDJiMWNjOTdmZTQ5YTU4MjJmMmFkZWJjMiIsInN1YiI6IjY0ODcwMWJkOTkyNTljMDBjNWI1YWQyNSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.2FE4lLf_KhSufPwphYkMVk0wQVurusGL8FIhB4JVnBY"
}

# we stored the json in response variable
response = requests.get(url, headers=headers)

In [5]:
# to explicitly convert incoming data to JSON format
# ['results'] - because we only want the results list
response.json()['results']

[{'adult': False,
  'backdrop_path': '/nGxUxi3PfXDRm7Vg95VBNgNM8yc.jpg',
  'genre_ids': [28, 12, 16, 878],
  'id': 569094,
  'original_language': 'en',
  'original_title': 'Spider-Man: Across the Spider-Verse',
  'overview': 'After reuniting with Gwen Stacy, Brooklyn’s full-time, friendly neighborhood Spider-Man is catapulted across the Multiverse, where he encounters the Spider Society, a team of Spider-People charged with protecting the Multiverse’s very existence. But when the heroes clash on how to handle a new threat, Miles finds himself pitted against the other Spiders and must set out on his own to save those he loves most.',
  'popularity': 3309.344,
  'poster_path': '/8Vt6mWEReuy4Of61Lnj5Xj704m8.jpg',
  'release_date': '2023-05-31',
  'title': 'Spider-Man: Across the Spider-Verse',
  'video': False,
  'vote_average': 8.8,
  'vote_count': 1103},
 {'adult': False,
  'backdrop_path': '/tmU7GeKVybMWFButWEGl2M4GeiP.jpg',
  'genre_ids': [18, 80],
  'id': 238,
  'original_language': 'en',
  'original_title': 'The Godfather',
  'overview': 'Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.',
  'popularity': 114.516,
  'poster_path': '/3bhkrj58Vtu7enYsRolD1fZdja1.jpg',
  'release_date': '1972-03-14',
  'title': 'The Godfather',
  'video': False,
  'vote_average': 8.7,
  'vote_count': 18071},
 {'adult': False,
  'backdrop_path': '/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg',
  'genre_ids': [18, 80],
  'id': 278,
  'original_language': 'en',
  'original_title': 'The Shawshank Redemption',
  'overview': 'Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.',
  'popularity': 71.043,
  'poster_path': '/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg',
  'release_date': '1994-09-23',
  'title': 'The Shawshank Redemption',
  'video': False,
  'vote_average': 8.7,
  'vote_count': 23927},
 {'adult': False,
  'backdrop_path': '/oo4PVK6AyLZN49BokxDFGyclN86.jpg',
  'genre_ids': [18, 80],
  'id': 240,
  'original_language': 'en',
  'original_title': 'The Godfather Part II',
  'overview': 'In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.',
  'popularity': 54.933,
  'poster_path': '/bMadFzhjy9T7R8J48QGq1ngWNAK.jpg',
  'release_date': '1974-12-20',
  'title': 'The Godfather Part II',
  'video': False,
  'vote_average': 8.6,
  'vote_count': 10911},
 {'adult': False,
  'backdrop_path': '/vI3aUGTuRRdM7J78KIdW98LdxE5.jpg',
  'genre_ids': [35, 18, 10749],
  'id': 19404,
  'original_language': 'hi',
  'original_title': 'दिलवाले दुल्हनिया ले जायेंगे',
  'overview': 'Raj is a rich, carefree, happy-go-lucky second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who in spite of being an NRI is very strict about adherence to Indian values. Simran has left for India to be married to her childhood fiancé. Raj leaves for India with a mission at his hands, to claim his lady love under the noses of her whole family. Thus begins a saga.',
  'popularity': 24.719,
  'poster_path': '/ktejodbcdCPXbMMdnpI9BUxW6O8.jpg',
  'release_date': '1995-10-19',
  'title': 'Dilwale Dulhania Le Jayenge',
  'video': False,
  'vote_average': 8.6,
  'vote_count': 4146},
 {'adult': False,
  'backdrop_path': '/zb6fM1CX41D9rF9hdgclu0peUmy.jpg',
  'genre_ids': [18, 36, 10752],
  'id': 424,
  'original_language': 'en',
  'original_title': "Schindler's List",
  'overview': 'The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.',
  'popularity': 42.444,
  'poster_path': '/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg',
  'release_date': '1993-12-15',
  'title': "Schindler's List",
  'video': False,
  'vote_average': 8.6,
  'vote_count': 14148},
 {'adult': False,
  'backdrop_path': '/Ab8mkHmkYADjU7wQiOkia9BzGvS.jpg',
  'genre_ids': [16, 10751, 14],
  'id': 129,
  'original_language': 'ja',
  'original_title': '千と千尋の神隠し',
  'overview': 'A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.',
  'popularity': 76.151,
  'poster_path': '/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg',
  'release_date': '2001-07-20',
  'title': 'Spirited Away',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 14401},
 {'adult': False,
  'backdrop_path': '/tj6iPnz18hGfr0LKqWmG6Cp3niO.jpg',
  'genre_ids': [18],
  'id': 389,
  'original_language': 'en',
  'original_title': '12 Angry Men',
  'overview': "The defense and the prosecution have rested and the jury is filing into the jury room to decide if a young Spanish-American is guilty or innocent of murdering his father. What begins as an open and shut case soon becomes a mini-drama of each of the jurors' prejudices and preconceptions about the trial, the accused, and each other.",
  'popularity': 36.8,
  'poster_path': '/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg',
  'release_date': '1957-04-10',
  'title': '12 Angry Men',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 7331},
 {'adult': False,
  'backdrop_path': '/dIWwZW7dJJtqC6CgWzYkNVKIUm8.jpg',
  'genre_ids': [10749, 16, 18],
  'id': 372058,
  'original_language': 'ja',
  'original_title': '君の名は。',
  'overview': 'High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.',
  'popularity': 84.418,
  'poster_path': '/q719jXXEzOoYaps6babgKnONONX.jpg',
  'release_date': '2016-08-26',
  'title': 'Your Name.',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 9918},
 {'adult': False,
  'backdrop_path': '/ApiBzeaa95TNYliSbQ8pJv4Fje7.jpg',
  'genre_ids': [35, 53, 18],
  'id': 496243,
  'original_language': 'ko',
  'original_title': '기생충',
  'overview': "All unemployed, Ki-taek's family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.",
  'popularity': 59.85,
  'poster_path': '/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg',
  'release_date': '2019-05-30',
  'title': 'Parasite',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 15859},
 {'adult': False,
  'backdrop_path': '/l6hQWH9eDksNJNiXWYRkWqikOdu.jpg',
  'genre_ids': [14, 18, 80],
  'id': 497,
  'original_language': 'en',
  'original_title': 'The Green Mile',
  'overview': "A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people's ailments. When the cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, he tries desperately to help stave off the condemned man's execution.",
  'popularity': 64.294,
  'poster_path': '/o0lO84GI7qrG6XFvtsPOSV7CTNa.jpg',
  'release_date': '1999-12-10',
  'title': 'The Green Mile',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 15485},
 {'adult': False,
  'backdrop_path': '/dqK9Hag1054tghRQSqLSfrkvQnA.jpg',
  'genre_ids': [18, 28, 80, 53],
  'id': 155,
  'original_language': 'en',
  'original_title': 'The Dark Knight',
  'overview': 'Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.',
  'popularity': 82.92,
  'poster_path': '/qJ2tW6WMUDux911r6m7haRef0WH.jpg',
  'release_date': '2008-07-14',
  'title': 'The Dark Knight',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 29849},
 {'adult': False,
  'backdrop_path': '/ejnlCzBd5pOGAYCpxC93NXSrdrz.jpg',
  'genre_ids': [35, 14],
  'id': 772071,
  'original_language': 'es',
  'original_title': 'Cuando Sea Joven',
  'overview': '70-year-old Malena gets a second chance at life when she magically turns into her 22-year-old self. Now, posing as "Maria" to hide her true identity, she becomes the lead singer of her grandson\'s band and tries to recover her dream of singing, which she had to give up at some point.',
  'popularity': 23.734,
  'poster_path': '/6gIJuFHh5Lj4dNaPG3TzIMl7L68.jpg',
  'release_date': '2022-09-14',
  'title': 'Cuando Sea Joven',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 242},
 {'adult': False,
  'backdrop_path': '/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg',
  'genre_ids': [53, 80],
  'id': 680,
  'original_language': 'en',
  'original_title': 'Pulp Fiction',
  'overview': "A burger-loving hit man, his philosophical partner, a drug-addled gangster's moll and a washed-up boxer converge in this sprawling, comedic crime caper. Their adventures unfurl in three stories that ingeniously trip back and forth in time.",
  'popularity': 62.055,
  'poster_path': '/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg',
  'release_date': '1994-09-10',
  'title': 'Pulp Fiction',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 25290},
 {'adult': False,
  'backdrop_path': '/qdIMHd4sEfJSckfVJfKQvisL02a.jpg',
  'genre_ids': [35, 18, 10749],
  'id': 13,
  'original_language': 'en',
  'original_title': 'Forrest Gump',
  'overview': 'A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.',
  'popularity': 64.005,
  'poster_path': '/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg',
  'release_date': '1994-06-23',
  'title': 'Forrest Gump',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 24774},
 {'adult': False,
  'backdrop_path': '/eoCSp75lxatmIa6aGqfnzwtbttd.jpg',
  'genre_ids': [37],
  'id': 429,
  'original_language': 'it',
  'original_title': 'Il buono, il brutto, il cattivo',
  'overview': 'While the Civil War rages on between the Union and the Confederacy, three men – a quiet loner, a ruthless hitman, and a Mexican bandit – comb the American Southwest in search of a strongbox containing $200,000 in stolen gold.',
  'popularity': 47.448,
  'poster_path': '/bX2xnavhMYjWDoZp1VM6VnU1xwe.jpg',
  'release_date': '1966-12-23',
  'title': 'The Good, the Bad and the Ugly',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 7454},
 {'adult': False,
  'backdrop_path': '/2u7zbn8EudG6kLlBzUYqP8RyFU4.jpg',
  'genre_ids': [12, 14, 28],
  'id': 122,
  'original_language': 'en',
  'original_title': 'The Lord of the Rings: The Return of the King',
  'overview': "Aragorn is revealed as the heir to the ancient kings as he, Gandalf and the other members of the broken fellowship struggle to save Gondor from Sauron's forces. Meanwhile, Frodo and Sam take the ring closer to the heart of Mordor, the dark lord's realm.",
  'popularity': 76.264,
  'poster_path': '/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg',
  'release_date': '2003-12-01',
  'title': 'The Lord of the Rings: The Return of the King',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 21706},
 {'adult': False,
  'backdrop_path': '/uBZQOYZLIU9dBmd62fdzBAoropu.jpg',
  'genre_ids': [28, 12, 16, 18],
  'id': 704264,
  'original_language': 'en',
  'original_title': 'Primal: Tales of Savagery',
  'overview': "Genndy Tartakovsky's Primal: Tales of Savagery features a caveman and a dinosaur on the brink of extinction. Bonded by tragedy, this unlikely friendship becomes the only hope of survival.",
  'popularity': 13.054,
  'poster_path': '/9NBBkdxH0TjQEBSN2AzeE1sgsF9.jpg',
  'release_date': '2019-11-21',
  'title': 'Primal: Tales of Savagery',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 265},
 {'adult': False,
  'backdrop_path': '/sw7mordbZxgITU877yTpZCud90M.jpg',
  'genre_ids': [18, 80],
  'id': 769,
  'original_language': 'en',
  'original_title': 'GoodFellas',
  'overview': 'The true story of Henry Hill, a half-Irish, half-Sicilian Brooklyn kid who is adopted by neighbourhood gangsters at an early age and climbs the ranks of a Mafia family under the guidance of Jimmy Conway.',
  'popularity': 47.288,
  'poster_path': '/aKuFiU82s5ISJpGZp7YkIr3kCUd.jpg',
  'release_date': '1990-09-12',
  'title': 'GoodFellas',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 11334},
 {'adult': False,
  'backdrop_path': '/qvZ91FwMq6O47VViAr8vZNQz3WI.jpg',
  'genre_ids': [28, 18],
  'id': 346,
  'original_language': 'ja',
  'original_title': '七人の侍',
  'overview': "A samurai answers a village's request for protection after he falls on hard times. The town needs protection from bandits, so the samurai gathers six others to help him teach the people how to defend themselves, and the villagers provide the soldiers with food.",
  'popularity': 27.705,
  'poster_path': '/8OKmBV5BUFzmozIC3pPWKHy17kx.jpg',
  'release_date': '1954-04-26',
  'title': 'Seven Samurai',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 3083}]

In [8]:
# to convert the above response into a dataframe

df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [9]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,569094,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2023-05-31,3309.344,8.8,1103
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,114.516,8.7,18071
2,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,71.043,8.7,23927
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,54.933,8.6,10911
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,24.719,8.6,4146
5,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,42.444,8.6,14148
6,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,76.151,8.5,14401
7,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,36.800,8.5,7331
8,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,84.418,8.5,9918
9,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,59.850,8.5,15859
10,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,64.294,8.5,15485
11,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-14,82.920,8.5,29849
12,772071,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,2022-09-14,23.734,8.5,242
13,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,62.055,8.5,25290
14,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,64.005,8.5,24774
15,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-23,47.448,8.5,7454
16,122,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,2003-12-01,76.264,8.5,21706
17,704264,Primal: Tales of Savagery,Genndy Tartakovsky's Primal: Tales of Savagery...,2019-11-21,13.054,8.5,265
18,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,47.288,8.5,11334
19,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,27.705,8.5,3083

In [10]:
# ab ye data bs 1 page ka tha. now we will loop this for all the pages present ( pages data we will get from JSON viewer)

# create an empty dataframe

df = pd.DataFrame()

In [11]:
df

Empty DataFrame
Columns: []
Index: []

In [16]:
headers = {
      "accept": "application/json",
      "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4NTZhN2JiNDJiMWNjOTdmZTQ5YTU4MjJmMmFkZWJjMiIsInN1YiI6IjY0ODcwMWJkOTkyNTljMDBjNWI1YWQyNSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.2FE4lLf_KhSufPwphYkMVk0wQVurusGL8FIhB4JVnBY"
  }
for i in range(1, 500):

  url = "https://api.themoviedb.org/3/movie/top_rated?language=en-US&page={}".format(i)
  response = requests.get(url, headers=headers)
  temp_df = pd.DataFrame(response.json()['results'], columns = ['id','title','overview','release_date','popularity','vote_average','vote_count'])
  df = pd.concat([df, temp_df], ignore_index = True)

executed the above for loop till 500 page because of some error in later pages! worked!!

In [17]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,569094,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2023-05-31,3309.344,8.8,1103
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,114.516,8.7,18071
2,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,71.043,8.7,23927
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,54.933,8.6,10911
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,24.719,8.6,4146
...,...,...,...,...,...,...,...
39975,1979,Fantastic Four: Rise of the Silver Surfer,The Fantastic Four return to the big screen as...,2007-06-13,29.342,5.6,7232
39976,174316,A Case of You,"Young writer Sam has a crush on Birdie, the cu...",2013-11-06,5.396,5.6,269
39977,57431,The Sitter,"Noah, is not your typical entertain-the-kids-n...",2011-12-09,16.748,5.6,832
39978,49849,Cowboys & Aliens,A stranger stumbles into the desert town of Ab...,2011-07-29,28.073,5.6,4628
39979,10200,The Day the Earth Stood Still,A representative of an alien race that went th...,2008-12-10,38.299,5.6,3046

In [19]:
df.shape

(39980, 7)

In [21]:
# to convert this dataframe to csv file
df.to_csv('movies.csv')